.animate__fadeInUp {
    animation-duration: 2s;
}

.animate__fadeIn {
    animation-duration: 2s;
}

.animate__fadeInRight {
    animation-duration: 2s;
}

.animate__fadeInLeft {
    animation-duration: 2s;
}

.animate__fadeInDown {
    animation-duration: 2s;
}

.animate__zoomIn {
    animation-duration: 2s;
}