.borde {
    border: 1px solid rgb(170, 133, 126);
}
i.displaynone {
    display: none;
}
html {
    overflow-x: hidden;
}

.BgImage{
background-image: url(https://c.tenor.com/2slseEsQhzgAAAAd/philosophy-academy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.font {
    font-size:25px !important;
}

.heighte {
    height:700px;
}

.btn-edit {
    background-color: #f7e4e0;
    color: rgba(202, 109, 72, 0.877);
    border-radius: 3%;
}

a [class="centerb  btn-edit" ]  {
    div {
        button {
            font-size:20px !important; 
        }
    }
}

.centerb {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.overflowy {
    overflow-y: hidden;
}


@mixin padding ($padding){
    padding: $padding;
}

@mixin paddingmain ($padding , $padding2) {
    padding:$padding $padding2;
    
}

$colors: (
    "BgFigure":#212121,
    "ColorText":rgb(97, 65, 52),
    "BgNav":rgb(247, 228, 224),

);


