.figureborder {

    background-color: map-get($map:$colors, $key:"BgFigure");
    padding: 2%;
    text-align: center;
    color: white;
}

.contenedor {
    figure {
        background-color: #d4b393;
        @include padding(2%);
        text-align: center;
        color: rgb(255, 255, 255);
    }
}


.figure {
    img {
        width: 300px;
        height: auto;
    }
}