.main {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin: 10px auto;
    @include paddingmain (10px ,30px);
    box-sizing: border-box;
    border: solid 2px rgb(133, 104, 61);
}

    
